body {
  position: relative;
}

.section {
  padding-top: 70px;
  padding-bottom:70px;
  height:500px;
}

#section1 {
  background-color: #1E88E5;
}

#section2 {
  background-color: #673ab7;
}

#section3 {
  background-color: #ff9800;
}

#section4-1 {
  background-color: #00bcd4;
}

#section4-2 {
  background-color: #009688;
}