body {
  position: relative;
}

nav .dropdown-menu {
  /* Force to make width smaller. */
  min-width: 0px;
}

.section {
  padding-top: 70px;
  padding-bottom:70px;
  min-height: auto;

  color: white;
  font-size: 18px;
}

.section h1 {
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  margin: 20px;
}

.section h2 {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#about {
  background-color: #1E88E5;
}

#experience {
  background-color: #673ab7;
}

#works {
  background-color: #ff9800;
}

#item-1 {
  background-color: #00bcd4;
}

#item-2 {
  background-color: #009688;
}