body {
  position: relative;
}

.section {
  padding-top: 70px;
  padding-bottom:70px;
  min-height: auto;
}

#about {
  background-color: #1E88E5;
}

#experience {
  background-color: #673ab7;
}

#works {
  background-color: #ff9800;
}

#item-1 {
  background-color: #00bcd4;
}

#item-2 {
  background-color: #009688;
}